:root {
  --primery-text-color: #2c2c2c;
  --akcent-text-color: #bbf330;
  --bacground-color-btn: #bbf330;
  --bacground-color-btn-hover: #ffe450;
  --bacground-color-offer: #ffe550;
  --belii: #ffffff;
  --belii2: #fefefe;
  --icons: #7eb101;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--primery-text-color);
  background-color: #f5f5f5;
}

link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1278px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: auto;
}

.header-list {
  display: flex;
  gap: 28px;
  list-style: none;
}

.header-item {
  padding: 28px 0;
}

.link {
  text-decoration: none;
  color: #2c2c2c;
}

.header-link {
  font-size: 14px;
  line-height: 1.14;
  padding: 28px 0;
}

.header-link:hover,
.header-link:focus {
  color: var(--akcent-text-color);
  text-decoration: underline;
}

.header-btn {
  margin-left: 30px;
  padding: 6px 18px;
  min-width: 98px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.53;
  color: var(--primery-text-color);
  background-color: var(--bacground-color-btn);
  border: 0;
  border-radius: 30px;
}

.header-btn:hover,
.header-btn:focus {
  background-color: var(--bg-hover-btn-header);
}

/* === Hero === */
.hero {
  padding-top: 14px;
}

.hero-box {
  display: flex;
  align-items: center;
}

.second-hero-box {
  margin-left: 16px;
  max-width: 503px;
}

.hero-title {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 28px;
}

.hero-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.hero-img {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: 56px;
  border-radius: 50%;
}

.btn {
  padding: 6px 18px;
  border-radius: 30px;
  border: none;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  cursor: pointer;
  color: var(--primery-text-color);
  background-color: #bbf330;
}

.btn:hover,
.btn:focus {
  background-color: var(--bacground-color-btn-hover);
}

.container-offer-cont {
  background-color: var(--bacground-color-offer);
  background-image: url(../img/wave1.jpg);
}

/* LEFT PART */

.cirkle-ramka-apple-spec-off {
  width: 550px;
  height: 550px;
  border-radius: 50%;
  border: solid rgba(255, 255, 255, 0.5) 5px;
  margin-left: 15px;
  margin-right: 90px;
  margin-top: 177px;
  margin-bottom: 43px;
}

.white-rund-apple {
  width: 502px;
  height: 502px;
  border-radius: 50%;
  background-color: var(--belii);
  margin: 24px;
}

.apple-img {
  margin-left: 60px;
  margin-bottom: 0;
  overflow: hidden;
  border-radius: 262px;
}

/* RIGHT PART */

.colum-right-spec-off {
  margin-left: 15px;
}

.title-spec-off {
  font-weight: 800;
  font-size: 42px;
  line-height: 1.2;
  max-width: 500px;
  margin-top: 260px;
  margin-bottom: 20px;
}

.descr-spec-off {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  max-width: 500px;
  margin-bottom: 40px;
}

/* LIST OF SPEC OFF */

.list-spec-off {
  list-style: none;
  display: flex;
}

.column-spec-off {
  display: flex;
  justify-content: center;
}

.icons-fon-spec-off {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--belii2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.icon-pict-spec-off {
  width: 15px;
  height: 15px;
}

.title-list-spec {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 16px;
}

.abz-list-spec {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  max-width: 253px;
  margin-bottom: 32px;
}

.column-pos-list-spec {
  margin-right: 67px;
}

.column-pos-list-spec:nth-child(2n) {
  margin-right: 0;
}

.icons-offer-menu {
  fill: var(--icons);
  cursor: pointer;
  height: 27px;
  width: 27px;
}

.icons-offer-menu-two {
  fill: var(--icons);
  cursor: pointer;
  height: 55px;
  width: 55px;
}

.button-spec-off {
  background-color: var(--belii);
  color: var(--primery-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 30px;
  width: 106px;
  height: 40px;
  border: 2px solid var(--icons);
}

.button-spec-off:hover {
  background-color: var(--icons);
}
