:root {
  --primery-text-color: #2c2c2c;
  --akcent-text-color: #bbf330;
  --bacground-color-btn: #bbf330;
  --bacground-color-btn-hover: #ffe450;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--primery-text-color);
  background-color: #f5f5f5;
}

link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
 HEAD
/*----------------------------<!-- Customers Say Аіда-->----------------------------------------------------------*/
.say{
  padding-top: 100px;
  padding-bottom: 100px;}

.say-tiatel{
  
  
  font-weight: 700;
  font-size: 42px;
  line-height: 1.7;
  width :501px; 
  height: 49px;
  margin-bottom:20px;
  margin-left: 0;}
 


.say-description{
  font-weight: 400;
  font-size: 16px;
  line-height:1.87;
  width: 537px;
  height: 19px;
  margin-bottom: 32px;}

.say-list {
  display: flex;
  align-items: center;
  gap:139px;}

.say-item-box{
  display: block;
  box-sizing:border-box ;
  max-width: 501px;
  max-height: 227px;
  margin-bottom: 120px;
  background: #FEFEFE;
  border-radius: 0px 30px 30px 30px;}
.img {
  display: flex;
  align-items: center;
  justify-content:baseline;
 text-align: center;}

.say-dascription-inf{
 
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  margin-right: 14px;
  margin-left: 14px;}

.say-img{
  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  margin-top: 42px;
  margin-right: 16px;
  margin-bottom: 18px;
  margin-left: 14px;
  
  border: 2px solid var(--bacground-color-btn-hover);
  border-radius: 50%;}

.say-subject{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;}

.say-description-tem{
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 18px;}

.say-heading{ 
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 20px;
  line-height: 1.2;}

.say-description-m{
   font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 24px;}

.say-description-meil{
  font-size: 12px;
  line-height: 1.5;
  color: #505050;}

.font-family{ 
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;}

 .say-meil-btn{
  display: flex;
  align-items: center;
  gap: 32px;}

.say-description-meil{
  display: block;
  width: 394px;
  height: 42px;
  border: 0.85px solid;
  border-radius:30px ;
  padding-top: 12px;
  padding-left:12px;
  padding-right: 57px;
  padding-bottom: 12px;
  border-color: var(--bacground-color-btn-hover);}

.btn{
  display: block;
  width: 103px; 
  height: 42px;
  border: solid rgba(187, 243, 48, 1) ;
  border-radius: 30px;
  background-color:var(--bacground-color-btn)}

.btn  
.subject-description{
  margin-top: 44px;}





































.container {
  width: 1278px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: auto;
}



.header-list {
  display: flex;
  gap: 28px;
  list-style: none;
}

.header-item {
  padding: 28px 0;
}

.link {
  text-decoration: none;
  color: #2c2c2c;
}

.header-link {
  font-size: 14px;
  line-height: 1.14;
  padding: 28px 0;
}

.header-link:hover,
.header-link:focus {
  color: var(--akcent-text-color);
  text-decoration: underline;
}

.header-btn {
  margin-left: 30px;
  padding: 6px 18px;
  min-width: 98px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.53;
  color: var(--primery-text-color);
  background-color: var(--bacground-color-btn);
  border: 0;
  border-radius: 30px;
}

.header-btn:hover,
.header-btn:focus {
  background-color: var(--bg-hover-btn-header);
}

/* === Hero === */
.hero {
  padding-top: 14px;
}

.hero-box {
  display: flex;
  align-items: center;
}

.second-hero-box {
  margin-left: 16px;
  max-width: 503px;
}

.hero-title {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 28px;
}

.hero-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.hero-img {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: 56px;
  border-radius: 50%;
}

.btn {
  padding: 6px 18px;
  border-radius: 30px;
  border: none;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  cursor: pointer;
  color: var(--primery-text-color);
  background-color: #BBF330;
}

.btn:hover,
.btn:focus {
  background-color: var(--bacground-color-btn-hover);
}
 